pyserial==3.0.1
transitions==0.3.1
requests==2.9.1
xmltodict==0.10.1
dicttoxml==1.6.6
evdev==0.6.1
ipython==5.1.0
pycrypto==2.6.1
pytz==2016.6.1
soco==0.12
Automat==0.3.0
tornado==4.4.2
simple-settings==0.10.0
tornado-jinja2==0.2.4
eventlet==0.20.1
