axel==0.0.4
Django==1.9.4
django-bootstrap3==7.0.1
django-jquery==1.12.2
django-websocket-redis==0.4.6
djangorestframework==3.3.3
gevent==1.1.0
greenlet==0.4.9
pyserial==3.0.1
psycopg2==2.6.1
six==1.10.0
transitions==0.3.1
requests==2.9.1
#uwsgi==2.0.12
xmltodict==0.10.1
dicttoxml==1.6.6
evdev
pyscard
ipython
pycrypto
