Automat==0.3.0
Jinja2==2.9.5
MarkupSafe==0.23
OdooRPC==0.5.1
dicttoxml==1.7.4
evdev==0.6.1
eventlet==0.20.1
ipython==5.1.0
pycrypto==2.6.1
pyscard==1.9.4
pyserial==3.0.1
pytz==2016.6.1
requests==2.13.0
simple-settings==0.10.0
six==1.10.0
soco==0.12
tornado-jinja2==0.2.4
tornado==4.4.2
transitions==0.3.1
xmltodict==0.10.2
